body {    
    /* background: rgba(231, 224, 218, 1); */
    
    min-height: 100vh;
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFEFDF 100%);
    /* background-repeat: no-repeat; */
    

    font-family: 'Roboto';
}

.hijau {
    color: rgba(4, 121, 2, 1) !important;
}

.abu83 {
    color: rgba(83, 83, 83, 1) !important;
}

.abuForm {
    color: rgba(24, 36, 24, 0.40) !important;
}

.custom-tabs .nav-link {
    color: gray !important;
    background-color: transparent;
  }
  
.custom-tabs .nav-link.active {
    color: white !important;
    background-color: rgba(4, 121, 2, 1) !important;
}

thead.custom-table {
    --bs-table-bg: rgba(4, 121, 2, 1) !important;
    --bs-table-color: white !important;
}

.modal-header {
    color: white !important;
    background-color: rgba(4, 121, 2, 1) !important;
}

.modal-header .btn-close {
    filter: invert(1) !important;
    opacity: 1 !important;
}