body {    
    /* background: rgba(231, 224, 218, 1); */
    
    min-height: 100vh;
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFEFDF 100%);
    /* background-repeat: no-repeat; */
    

    font-family: 'Roboto';
}

.hijau {
    color: rgba(4, 121, 2, 1) !important;
}

.abu83 {
    color: rgba(83, 83, 83, 1) !important;
}

.abuForm {
    color: rgba(24, 36, 24, 0.40) !important;
}

.btnHijau {
    background: rgba(4, 121, 2, 1) !important;
    color: #fff !important;
    border: 0;
}

.btnHijau:hover {
    background: rgba(4, 121, 2, 0.8) !important;
}

.btnHoverHijau:hover {
    background: rgba(4, 121, 2, 0.8) !important;
    color: #fff !important;
}

.borderHijauBwh {
    border-bottom: 2px solid rgba(4, 121, 2, 1) !important;
    
}

.btnLogout {
    background: rgba(255, 89, 89, 1) !important;
    color: #fff !important;
    border: 0;
}

.btnLogout:hover {
    background: rgba(255, 89, 89, 0.8) !important;
}

.boxHijau {
    background: rgba(4, 121, 2, 1) !important;
    color: #fff !important;
}